/*Colors*/
$color-primary-dark:           #303F9F;
$color-primary:                #3F51B5;
$color-primary-light:          #C5CAE9;
$color-white:                  #FFFFFF;
$color-accent:                 #f85b3f;
$color-primary-text:           #212121;
$color-secondary-text:         #727272;
$color-divider:                #B6B6B6;
$color-background-dark:        #e5e5e5;
$color-background-light:       #f6f6f6;
$color-background-extra-light: #fefefe;
$color-sucess:                 #bada55;
$color-error:                  #FF6347;

/*Fonts*/
$Oswald: "Oswald";
$Lato: "Lato";
$icomoon: 'icomoon';
$Thin: 100;
$ExtraLight: 200;
$Light: 300;
$Regular: 400;
$SemiBold: 600;

/*Text Sizes*/
$fontsize90: 90px;
$fontsize75: 75px;
$fontsize65: 65px;
$fontsize48: 48px;
$fontsize28: 28px;
$fontsize26: 26px;
$fontsize24: 24px;
$fontsize22: 22px;
$fontsize20: 20px;
$fontsize18: 18px;
$fontsize16: 16px;
$fontsize14: 14px;
$fontsize12: 12px;
