<!doctype html>
<html lang="pt">

<head>
	<meta charset="utf-8">
	<title>Studio Tagus</title>
	<!--Generic meta-->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale = 1.0, shrink-to-fit=no">
	<meta name="author" content="Studio Tagus" />
	<meta name="description" content="Studio Tagus web development" />
	<meta name="keywords" content="" />
	<meta name="robots" content="">
	<!--extra meta-->
	<meta name="google" content="notranslate" />
	<!--fb meta-->
	<meta property="og:title" content="Studio Tagus" />
	<meta property="og:url" content="www.studiotagus.com" />
	<meta property="og:description" content="Studio Tagus web development" />
	<meta property="og:site_name" content="Studio Tagus" />
	<meta property="og:image" content="" />
	<meta property="og:locale" content="pt_PT" />
	<meta property="og:type" content="website" />
	<!--twitter meta-->
	<meta name="twitter:card" content="">
	<meta name="twitter:url" content="">
	<meta name="twitter:title" content="">
	<meta namgulpe="twitter:description" content="">
	<meta name="twitter:image" content="">
	<!--Add to home screen icon-->
	<link href="images/system/apple-touch-icon.png" rel="apple-touch-icon" />
	<link href="images/system/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
	<link href="images/system/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
	<link href="images/system/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
	<link href="images/system/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
	<!--favicon-->
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link rel="icon" type="image/ico" href="/images/favicon.ico" />
	<!--Links-->
	<link rel="stylesheet" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald:200,300|Raleway:300,400,600" rel="stylesheet">
</head>
<!--GA-->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-79825632-1', 'auto');
	ga('send', 'pageview');
</script>

<body>
<section class="hero" data-control="HERO" id="triggerHero">
  <div id="darkmask"></div>
  <article>
    <div class="hero__mask"></div>
    <!-- <div class="lang">
      <p id="pt">PT</p>
      <p id="en">EN</p>
    </div> -->
    <img src="/images/Tagus logo.svg" alt="Studio Tagus" id="tagus">
    <div id="triggerLogo"></div>
    <div class="hero__textbox">
      <img src="/images/Tagus White.png" alt="">
      <!-- <div class="hero__textbox-mask"></div>
      <h1 class="studio">Studio</h1>
      <h1 class="tagus">Tagus</h1>
      <h3>Web development</h3> -->
    </div>
  </article>
</section>

<section class="about" data-control="ABOUT">
  <div class="wrapper">
    <div class="titleBlock">
      <div class="left-block">
        <h1 class="left-block__title">Sobre nós</h1>
      </div>
      <div class="right-block">
        <h2 class="right-block__text">Somos uma equipa de webdevelopers baseados em Lisboa, Portugal. Nós nos orgulhamos em entregar websites de qualidade com eficiência e profissionalismo.</h2>
      </div>
    </div>
    <div class="pros">
      <article>
        <i class="icon-diamond"></i>
        <h1>Transparência</h1>
        <p>Nada de surpresas. Acompanhe de perto a construção do seu projeto e apresente feedback durante o desenvolvimento.</p>
      </article>
      <article>
        <i class="icon-checked"></i>
        <h1>Compromisso</h1>
        <p>Se pode sonhar, podemos construir. Para o Studio Tagus a satisfação total do nosso cliente é o maior compromisso.</p>
      </article>
      <article>
        <i class="icon-calendar"></i>
        <h1>Pontualidade</h1>
        <p>Sem dores de cabeça! Seu projeto será terminado dentro do prazo determinado e com a qualidade expectada.</p>
      </article>
      <article>
        <i class="icon-heart"></i>
        <h1>Paixão</h1>
        <p>Acima de tudo, trabalhamos por amor à nossa profissão. Por isso temos total dedicação ao que fazemos e imenso respeito por nossos clientes.</p>
      </article>
    </div>
  </div>
</section>

<div class="portfolio" data-control="PORTFOLIO">
  <div class="wrapper">
    <div class="titleBlock">
      <div class="left-block">
        <h1 class="left-block__title">Projetos</h1>
      </div>
      <div class="right-block">
        <h2 class="right-block__text">Nós trabalhamos com clientes nacionais e internacionais, entregando soluções construidas com criatividade e tecnologia de ponta. Aqui está apenas alguns dos nossos projetos mais recentes.</h2>
      </div>
    </div>
  </div>
    <div class="portfolio__projects">
      <article class="portfolio__project">
        <div class="portfolio__mask" style="background-image:url(/images/arval.jpg)"></div>
        <div class="portfolio__textbox">
          <h1 class="portfolio__title">Arval Printing Machinery</h1>
          <div class="portfolio__line"></div>
          <p class="portfolio__text">Concept, Branding, Website</p>
        </div>
      </article>
      <article class="portfolio__project">
        <div class="portfolio__mask" style="background-image:url(/images/mealmasters.jpg)"></div>
        <div class="portfolio__textbox">
          <h1 class="portfolio__title">Mealmasters</h1>
          <div class="portfolio__line"></div>
          <p class="portfolio__text">Concept, Branding, Website</p>
        </div>
      </article>
      <article class="portfolio__project">
        <div class="portfolio__mask" style="background-image:url(/images/hazyshade.jpg)"></div>
        <div class="portfolio__textbox">
          <h1 class="portfolio__title">Hazy Shade of Spring</h1>
          <div class="portfolio__line"></div>
          <p class="portfolio__text">Website</p>
        </div>
      </article>
      <article class="portfolio__project">
        <div class="portfolio__mask" style="background-image:url(/images/megalancers.jpg)"></div>
        <div class="portfolio__textbox">
          <h1 class="portfolio__title">Megalancers</h1>
          <div class="portfolio__line"></div>
          <p class="portfolio__text">Website</p>
        </div>
      </article>
      <article class="portfolio__project">
        <div class="portfolio__mask" style="background-image:url(/images/foxlife.jpg)"></div>
        <div class="portfolio__textbox">
          <h1 class="portfolio__title">Foxlife</h1>
          <div class="portfolio__line"></div>
          <p class="portfolio__text">Concept, Branding, Website</p>
        </div>
      </article>
    </div>
</div>

<section class="projectDescription hide" data-control="PROJECTDESCRIPTION">
  <div class="wrapper">
    <div class="projectDescription__box">
      <h2 class="projectDescription__title"></h2>
      <p class="projectDescription__text"></p>
      <div class="projectDescription__slider">
      </div>
      <i class="icon-cross"></i>
    </div>
  </div>
</section>

<section class="contact" data-control="CONTACT">
  <div class="wrapper">
    <div class="titleBlock">
      <div class="left-block">
        <h1 class="left-block__title">Contacto</h1>
      </div>
      <div class="right-block">
        <h2 class="right-block__text">Entre em contacto connosco para que possamos trabalhar juntos.</h2>
      </div>
    </div>
    <div class="contact__details">
      <div class="contact__textblock">
        <h1 class="contact__title">Fale connosco...</h1>
        <p class="contact__text">Sinta-se à vontade para nos enviar uma mensagem utilizando o formulário do site ou, se preferir, nos contactar via whatsapp, telemóvel, skype ou e-mail.</p>
        <h1 class="contact__title">...sem compromissos</h1>
        <p class="contact__text">Vamos ajudar-lhe a encontrar a melhor solução.</p>
      </div>
      <ul class="contact__contact-list">
        <li><i class="icon-phone"></i><span>+351 925 595 027<br>+351 926 967 366</span></li>
        <li><i class="icon-mail"></i><a href="#"><span>info@studiotagus.com</span></a></li>
        <li><i class="icon-skype"></i><a href="#"><span>studio.tagus</span></a></li>
      </ul>
    </div>
    <form class="contact__form">
      <input type="text" id="userName" name="nome" placeholder="Seu nome *">
      <input type="email" id="userEmail" name="email" placeholder="Seu e-mail *">
      <textarea name="msg" id="userMessage" placeholder="Mensagem"></textarea>
      <div class="btn-accent">
        <a href="#" id="formSubmit" type="submit">enviar</a>
      </div>
    </form>
    <div class="contact__message" data-success="A mensagem foi enviada com sucesso. Entraremos em contacto em breve." data-error="A mensagem não foi enviada. Por favor tente novamente.">
      <p><i></i></p>
    </div>
  </div>
</section>

<section class="footer" data-control="FOOTER">
  <div class="wrapper">
    <div class="footer__textbox">
      <p class="animated ">Feito com</p>
      <div class="heart click-heart"></div>
      <p class="animated ">por Studio Tagus</p>
    </div>
  </div>
</section>


<!-- ************  JAVASCRIPT LIBS  ******************** -->
<script type="text/javascript" src="/scripts/libs/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/scripts/libs/handlebars.js"></script>
<script type="text/javascript" src="/scripts/libs/masonry.min.js"></script>
<script type="text/javascript" src="/scripts/libs/imagesloaded.min.js"></script>
<script type="text/javascript" src="/scripts/libs/slick.min.js"></script>
<script type="text/javascript" src="/scripts/libs/greensock/TweenMax.min.js"></script>
<script type="text/javascript" src="/scripts/libs/greensock/plugins/BezierPlugin.min.js"></script>
<script type="text/javascript" src="/scripts/libs/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/scripts/libs/plugins/animation.gsap.min.js"></script>
<script type="text/javascript" src="/scripts/libs/plugins/debug.addIndicators.min.js"></script>
<!-- ************  JAVASCRIPT MAIN  ******************** -->
<script src="/scripts/main.js"></script>
<script src="/scripts/bundle.js"></script> 

</body>

</html>